
.time-selector:nth-child(4n) {
  break-after:always;
}

body {
  background-image: url('../local-storage/bg.jpeg');
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
 }

.app {
  height: 100vh;
  background: linear-gradient(180deg, #000 30%, transparent);
}



