
.page {
	background: linear-gradient(180deg, transparent 30%, #ff2f002c);
	padding: 50px 0;
	min-height: 100vh;
	height: auto;
}

/* WHOLE EVENTS CONTAINER  */
.event {
	border-radius: 10px;
	display: flex;
	margin: 10px;
	overflow: hidden;
	letter-spacing: 1px;
	min-width: 650px;
}

.event#free {
	max-height: 12vh;
}

/* SIDE COLOR PORTION */
.event-side-color {
	background-color: #1B337E;
	color: #fff;
	align-items: center;
	min-width: 200px;
}

.event-side-color .event-date {
opacity: 0.5;
letter-spacing: 5px;
font-size: 75%;
}

.event-side-color#free{
	background-color: #080f23;
}

/* MAIN CONTENT PORTION */
.event-info{
	background-color: #CCD8E0;
	color:#080f23;
	margin: 0;
}

 .event-info .event-title {
	text-transform: uppercase;
}

.event-info .details{
	font-size: 75%;
	opacity: 0.4;
}

.ind-task .btn {
	max-height: 30px;
	padding: 0;
	margin: 10px 0;
}

.tasks input {
  width: 20px;
  height: 20px;
	margin: 5px;
	cursor: pointer;
}

.tasks input:checked + label {
	text-decoration: line-through;
	color: hsla(0, 0%, 70%, 0.678);
}

