
.event {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	margin: 10px;
	overflow: hidden;
}

.event#free {
	max-height: 12vh;
}

.event h5 {
	margin: 0;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.event h6 {
	margin: 0;
	opacity: 0.5;
	text-transform: lowercase;
}

.event h2 {
	margin: 0;
  color:black;
	text-transform: uppercase;
}

.event-preview {
	background-color: rgb(255, 118, 0);
	color: #fff;
	min-width: 125px;
	padding: 30px;
}

.event-preview#free{
	background-color: #2A265F;
	padding: 10px 30px;
}

.event-info#free {
	padding: 10px;
	text-justify: center;
	align-items: center;
}

.event-info span {
font-size: 70%;
}

.event-info#busy {
	padding: 30px 10px;
	text-justify: center;
	align-items: center;
}

.task-preview {
	background-color: #2A265F;
	align-items: center;
	border-radius: 10px;
	margin: 10px 0px;
	overflow: hidden;
	color: #fff;
	padding: 10px;
}
