/* WHOLE CONTAINER  */
.event {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	margin: 10px;
	overflow: hidden;
	letter-spacing: 1px;
	min-width: 650px;
}

.event#free {
	max-height: 12vh;
}

/* SIDE COLOR PORTION */
.event-side-color {
	background-color: rgb(255, 118, 0);
	color: #fff;
	align-items: center;
	min-width: 200px;
}

.event-side-color .event-date {
opacity: 0.5;
letter-spacing: 5px;
font-size: 75%;
}

.event-side-color#free{
	background-color: #2A265F;
}

/* MAIN CONTENT PORTION */
.event-info{
	margin: 0;
}

 .event-info .event-title {
  color:black;
	text-transform: uppercase;
}

.event-info .details{
	font-size: 75%;
}












.task-preview {
	background-color: #2A265F;
	align-items: center;
	border-radius: 10px;
	margin: 10px 0px;
	overflow: hidden;
	color: #fff;
	padding: 10px;
}



